@import url("css/theme.css");


.breatheparameterlist p {
    display: inline;
}


.rst-content dl:not(.docutils) dt {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.rst-content dl:not(.docutils) dt:last-child {
    margin-bottom: 6px;
}

.rst-content dl:not(.docutils) dl dt {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
