/build*
/cmake-build-*
/doc/source/images/*.png
/test_package/build
/doc/source/_build
.vs
.idea
*.pyc
compile_commands.json
/venv_*/
/**/.DS_Store
.nfs*
.history
CMakeUserPresets.json
.vscode
.cache
