/venv
/build*
/cmake-build-*
/doc/source/images/*.png
/test_package/build
/doc/source/_build
.vs
.idea
*.pyc
compile_commands.json
/venv_*/
/**/.DS_Store
.nfs*
.history
apps/tip.2019-2020/images/bg_sub_results
apps/tip.2019-2020/images/clean_samples
*.so